# Análisis preliminar de los datos de entrenamiento

In [1]:
import pandas as pd

diamonds_df = pd.read_csv("input/train.csv")

In [2]:
# Cuantas filas y columnas tiene el dataframe
print(diamonds_df.shape)

(40455, 11)

In [3]:
# Mostramos las primeras entradas
display(diamonds_df.head())

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.12    Premium     H     SI1   61.6   59.0  6.67  6.63  4.10   5363
1   1   1.14  Very Good     E     SI2   60.0   54.0  6.74  6.97  4.11   5593
2   2   0.90  Very Good     D     SI2   60.3   63.0  6.12  6.22  3.72   3534
3   3   0.71      Ideal     E     VS1   61.9   54.0  5.74  5.76  3.56   3212
4   4   0.34  Very Good     F     SI2   60.0   62.0  4.51  4.55  2.72    447

In [4]:
# ¿Hay nulos? Parece que no
diamonds_df.isnull().sum(axis = 0)

id         0
carat      0
cut        0
color      0
clarity    0
depth      0
table      0
x          0
y          0
z          0
price      0
dtype: int64

In [5]:
# Que tipo de datos tiene cada columna
diamonds_df.dtypes

id           int64
carat      float64
cut         object
color       object
clarity     object
depth      float64
table      float64
x          float64
y          float64
z          float64
price        int64
dtype: object

In [6]:
# Las columnas "cut", "color" y "clarity" tienen datos no numéricos. ¿Cuantos valores distintos hay en cada uno?
print("Columna 'cut':")
print(diamonds_df["cut"].value_counts())

print("\nColumna 'color':")
print(diamonds_df["color"].value_counts())

print("\nColumna 'clarity':")
print(diamonds_df["clarity"].value_counts())

Columna 'cut':
Ideal        16250
Premium      10342
Very Good     9026
Good          3639
Fair          1198
Name: cut, dtype: int64

Columna 'color':
G    8565
E    7344
F    7162
H    6147
D    5063
I    4052
J    2122
Name: color, dtype: int64

Columna 'clarity':
SI1     9806
VS2     9204
SI2     6865
VS1     6099
VVS2    3778
VVS1    2776
IF      1365
I1       562
Name: clarity, dtype: int64